# Copy this file to .env and fill in the values.

# Required:
# Parse Authorisation

NEXT_PUBLIC_PARSE_URL=
NEXT_PUBLIC_PARSE_APP_ID=
NEXT_PUBLIC_PARSE_JAVASCRIPT_KEY=
NEXT_PUBLIC_PARSE_USERNAME=
NEXT_PUBLIC_PARSE_PASSWORD=

# OPTIONAL
# S3 Bucket Authorisation. Only Required if you want to publish from your local machine. (Not Recommended)

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_ENDPOINT_URL=
AWS_BUCKET_NAME=
