@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Museo';
  src:
    url('/fonts/Museo/MuseoW01-300Italic.woff2') format('woff2'),
    url('/fonts/Museo/MuseoW01-300Italic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Museo';
  src:
    url('/fonts/Museo/MuseoW01-700.woff2') format('woff2'),
    url('/fonts/Museo/MuseoW01-700.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo';
  src:
    url('/fonts/Museo/MuseoW01-500.woff2') format('woff2'),
    url('/fonts/Museo/MuseoW01-500.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo';
  src:
    url('/fonts/Museo/MuseoW01-100.woff2') format('woff2'),
    url('/fonts/Museo/MuseoW01-100.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo';
  src:
    url('/fonts/Museo/MuseoW01-300.woff2') format('woff2'),
    url('/fonts/Museo/MuseoW01-300.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo';
  src:
    url('/fonts/Museo/MuseoW01-100Italic.woff2') format('woff2'),
    url('/fonts/Museo/MuseoW01-100Italic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Museo';
  src:
    url('/fonts/Museo/MuseoW01-900.woff2') format('woff2'),
    url('/fonts/Museo/MuseoW01-900.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo';
  src:
    url('/fonts/Museo/MuseoW01-500Italic.woff2') format('woff2'),
    url('/fonts/Museo/MuseoW01-500Italic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Museo';
  src:
    url('/fonts/Museo/MuseoW01-700Italic.woff2') format('woff2'),
    url('/fonts/Museo/MuseoW01-700Italic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Museo';
  src:
    url('/fonts/Museo/MuseoW01-900Italic.woff2') format('woff2'),
    url('/fonts/Museo/MuseoW01-900Italic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'MuseoSans';
  src:
    url('/fonts/MuseoSans/MuseoSansW01-700Italic.woff2') format('woff2'),
    url('/fonts/MuseoSans/MuseoSansW01-700Italic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'MuseoSans';
  src:
    url('/fonts/MuseoSans/MuseoSansW01-700.woff2') format('woff2'),
    url('/fonts/MuseoSans/MuseoSansW01-700.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MuseoSans';
  src:
    url('/fonts/MuseoSans/MuseoSansW01-900.woff2') format('woff2'),
    url('/fonts/MuseoSans/MuseoSansW01-900.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MuseoSans';
  src:
    url('/fonts/MuseoSans/MuseoSansW01-100Italic.woff2') format('woff2'),
    url('/fonts/MuseoSans/MuseoSansW01-100Italic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'MuseoSans';
  src:
    url('/fonts/MuseoSans/MuseoSansW01-100.woff2') format('woff2'),
    url('/fonts/MuseoSans/MuseoSansW01-100.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MuseoSans';
  src:
    url('/fonts/MuseoSans/MuseoSansW01-700Italic.woff2') format('woff2'),
    url('/fonts/MuseoSans/MuseoSansW01-700Italic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'MuseoSans';
  src:
    url('/fonts/MuseoSans/MuseoSansW01-100Italic.woff2') format('woff2'),
    url('/fonts/MuseoSans/MuseoSansW01-100Italic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'MuseoSans';
  src:
    url('/fonts/MuseoSans/MuseoSansW01-100.woff2') format('woff2'),
    url('/fonts/MuseoSans/MuseoSansW01-100.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MuseoSans';
  src:
    url('/fonts/MuseoSans/MuseoSansW01-300.woff2') format('woff2'),
    url('/fonts/MuseoSans/MuseoSansW01-300.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MuseoSans';
  src:
    url('/fonts/MuseoSans/MuseoSansW01-700.woff2') format('woff2'),
    url('/fonts/MuseoSans/MuseoSansW01-700.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MuseoSans';
  src:
    url('/fonts/MuseoSans/MuseoSansW01-900.woff2') format('woff2'),
    url('/fonts/MuseoSans/MuseoSansW01-900.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MuseoSans';
  src:
    url('/fonts/MuseoSans/MuseoSansW01-900Italic.woff2') format('woff2'),
    url('/fonts/MuseoSans/MuseoSansW01-900Italic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'MuseoSans';
  src:
    url('/fonts/MuseoSans/MuseoSansW01-500.woff2') format('woff2'),
    url('/fonts/MuseoSans/MuseoSansW01-500.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MuseoSans';
  src:
    url('/fonts/MuseoSans/MuseoSansW01-900Italic.woff2') format('woff2'),
    url('/fonts/MuseoSans/MuseoSansW01-900Italic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'MuseoSans';
  src:
    url('/fonts/MuseoSans/MuseoSansW01-300.woff2') format('woff2'),
    url('/fonts/MuseoSans/MuseoSansW01-300.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MuseoSans';
  src:
    url('/fonts/MuseoSans/MuseoSansW01-300Italic.woff2') format('woff2'),
    url('/fonts/MuseoSans/MuseoSansW01-300Italic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'MuseoSans';
  src:
    url('/fonts/MuseoSans/MuseoSansW01-300Italic.woff2') format('woff2'),
    url('/fonts/MuseoSans/MuseoSansW01-300Italic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'MuseoSans';
  src:
    url('/fonts/MuseoSans/MuseoSansW01-500Italic.woff2') format('woff2'),
    url('/fonts/MuseoSans/MuseoSansW01-500Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'MuseoSans';
  src:
    url('/fonts/MuseoSans/MuseoSansW01-500.woff2') format('woff2'),
    url('/fonts/MuseoSans/MuseoSansW01-500.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html,
body {
  font-family: 'Museo', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.museo-sans {
  font-family: 'MuseoSans';
}

#content_panel {
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 100%;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  z-index: 1;
}

.content_boxes {
  width: calc(50% - 0.5px);
  background-color: white;
  height: calc(50% - 0.5px);
  margin-top: 1px;
  margin-left: 1px;
  z-index: 1;
  animation: 'closeAnimation 0.5s 1 forwards';
}

@keyframes openTopAnimation {
  to {
    margin-top: -28vh;
  }
}

@keyframes openBottomAnimation {
  to {
    margin-top: 56vh;
  }
}

@keyframes closeAnimation {
  to {
    margin-top: 0vh;
  }
}

@keyframes makeOpaqueAnimation {
  0% {
    opacity: 0.7;
  }
  25% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@keyframes makeTransparentAnimation {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0.7;
  }
}

#rotation_btn {
  position: absolute;
  right: 1%;
  bottom: 1%;
  width: 50px;
  height: 50px;
  z-index: 1;
  background: white url('../../resources/rotate.svg') no-repeat center;
  background-size: 60%;
  border-radius: 20%;
}

#content_center_area {
  position: absolute;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  z-index: -1;
  height: 56vh;
  margin-top: 22vh;
}

#news_container {
  height: 30vh;
}

#mapIcon {
  width: 230px;
  height: 230px;
  border-radius: 100%;
  background: white url('../../resources/map.svg') no-repeat center;
  background-size: 60%;
}

#newsTimeInCenter {
  height: 5vh;
  background-color: #004373;
}

#newsTitleInCenter {
  height: 5vh;
  background-color: #004373;
}

#newsTextInCenter {
  height: 46vh;
  background-color: white;
}

#mapTileContainer {
  position: absolute;
  width: 50%;
  height: 50vh;
  background-color: #004373;
  color: #ffbf00;
  box-sizing: border-box;
}

#btnInMapTile {
  background-color: #ffbf00;
  color: #004373;
}

#textInNewsTile_1 {
  color: #004373;
}

.textInNewsTile_2 {
  color: black;
}

.textInNewsTile_3 {
  color: #004373;
}

.btnInNewsTile {
  background-color: #ffbf00;
  color: #004373;
}

#poiTileContainer {
  color: #004373;
  background-color: #f2f2f2;
  height: 48vh;
  box-sizing: border-box;
}

.btnInPoi {
  height: 10.5vh;
  background-color: #004373;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 30px;
  color: white;
  text-align: right;
  padding-top: 5vh;
  padding-right: 15px;
  padding-bottom: 15px;
  width: 100%;
}

#btnImgInPoi_1 {
  width: 150px;
  height: 150px;
  background: url('../../resources/wifi.svg') no-repeat center;
  background-size: 50%;
  margin-top: -6vh;
  margin-left: -10px;
}

#btnImgInPoi_2 {
  width: 150px;
  height: 150px;
  background: url('../../resources/food.svg') no-repeat center;
  background-size: 50%;
  margin-top: -6vh;
  margin-left: -10px;
}

#btnImgInPoi_3 {
  width: 150px;
  height: 150px;
  background: url('../../resources/hello_world.svg') no-repeat center;
  background-size: 50%;
  margin-top: -6vh;
  margin-left: -10px;
}

#weatherTileContainer {
  position: absolute;
  width: 50%;
  height: 50vh;
  background-color: #ffbf00;
  color: #004373;
  box-sizing: border-box;
}

#weatherIcon {
  width: 230px;
  height: 230px;
  border-radius: 100%;
  background: white url('../../resources/weather.svg') no-repeat center;
  background-size: 60%;
}

#btnInWeatherTile {
  background-color: #004373;
  color: white;
}

#weatherDetailsContainer {
  width: 100%;
  height: 50vh;
  background-color: white;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 3%;
  box-sizing: border-box;
  font-family: 'MuseoSans_500';
}

.weatherBlock {
  width: 31%;
  height: 20vh;
  background-size: 10%;
  margin-left: 3%;
  border-radius: 30px;
}

#weatherBlock_1 {
  width: 65%;
  margin-left: 0px;
  background-color: #ffbf00;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

#weatherBlock_2 {
  background-color: lightgreen;
}

#weatherBlock_3 {
  margin-left: 0px;
  background-color: lightblue;
}

#weatherBlock_4 {
  background-color: #f2f2f2;
  color: #004373;
}

#weatherBlock_5 {
  background-color: #f2f2f2;
  color: #004373;
}

#weatherBlock_1_1 {
  width: 50%;
  height: 100%;
  background-size: contain;
  background: url('../../resources/temperature.svg') no-repeat center;
}

#weatherBlock_1_2 {
  width: 50%;
  height: 100%;
  color: #004373;
  text-align: left;
}

#weatherBlock_2_1 {
  width: 100%;
  height: 30%;
  background-size: contain;
  background: url('../../resources/UV.svg') no-repeat left;
}

.weatherBlock_2_2 {
  width: 100%;
  height: 20%;
  text-align: left;
}

#weatherBlock_3_1 {
  width: 100%;
  height: 30%;
  background-size: contain;
  background: url('../../resources/rain.svg') no-repeat left;
}

#weatherBlock_4_1 {
  width: 100%;
  height: 30%;
  background-size: contain;
  background: url('../../resources/moisture.svg') no-repeat left;
}

#weatherBlock_5_1 {
  width: 100%;
  height: 30%;
  background-size: contain;
  background: url('../../resources/airPressure.svg') no-repeat left;
}

.darkPanel {
  position: absolute;
  width: 100%;
  height: 25vh;
  background-color: #004373;
  z-index: 2;
  opacity: 0.9;
}
