@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: 'Museo', sans-serif;
  margin: 0;
  font-size: 0.86vh;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.museo-sans {
  font-family: 'MuseoSans';
}

.tile {
  text-align: center;
  width: 50vw;
  height: 50vh;
  display: flex;
  background-color: white;
}

@keyframes openTopAnimation {
  0% {
    margin-top: 0;
    filter: blur(0px) grayscale(0) brightness(1);
  }
  100% {
    margin-top: -28vh;
    filter: blur(1px) grayscale(30%) brightness(0.7);
  }
}

@keyframes openBottomAnimation {
  0% {
    margin-top: 0;
    filter: blur(0px) grayscale(0) brightness(1);
  }
  100% {
    margin-top: 56vh;
    filter: blur(1px) grayscale(30%) brightness(0.7);
  }
}

@keyframes closeAnimation {
  0% {
    filter: blur(1px) grayscale(30%) brightness(0.7);
  }
  100% {
    margin-top: 0vh;
    filter: blur(0px) grayscale(0) brightness(1);
  }
}

#rotation_btn {
  position: absolute;
  right: 3rem;
  bottom: 3rem;
  width: 8rem;
  height: 8rem;
  background: #f2f2f2 url('/images/svg/rotate.svg') no-repeat center;
  background-size: 60%;
  border-radius: 20%;
}

#content_center_area {
  position: absolute;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  height: 56vh;
  margin-top: 22vh;
}

#news_container {
  height: 30vh;
}

#mapIcon {
  width: 12vh;
  height: 12vh;
  border-radius: 50%;
  background: white url('/images/svg/map.svg') no-repeat center;
  background-size: 55%;
}

#newsTimeInCenter {
  height: 5vh;
}

#newsTitleInCenter {
  height: 5vh;
}

#newsTextInCenter {
  height: 46vh;
  background-color: white;
}

#btnImgInPoi_1 {
  background: url('/images/svg/wifi.svg') no-repeat;
  background-size: contain;
}

#btnImgInPoi_2 {
  background: url('/images/svg/food.svg') no-repeat;
  background-size: contain;
}

#btnImgInPoi_3 {
  background: url('/images/svg/hello_world.svg') no-repeat;
  background-size: contain;
}

#weatherIcon {
  width: 12vh;
  height: 12vh;
  border-radius: 50%;
  background: white url('/images/svg/weather.svg') no-repeat center;
  background-size: 60%;
}

#weatherDetailsContainer {
  width: 100%;
  height: 56vh;
  background-color: white;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 4vh;
  box-sizing: border-box;
}

#weatherBlock_big {
  width: 65%;
  height: 22vh;
  background-size: 10%;
  margin-left: 1%;
  border-radius: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

#weatherBlock_big_1 {
  width: 45%;
  height: 100%;
  background-size: contain;
  background: url('/images/svg/temperature.svg') no-repeat center;
}

#weatherBlock_big_2 {
  width: 55%;
  height: 100%;
  color: #004373;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.weatherBlock_small {
  width: 32%;
  height: 22vh;
  background-size: 10%;
  margin-left: 1%;
  border-radius: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.weatherBlock_2_1 {
  width: 100%;
  height: 30%;
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
}

.weatherBlock_2_2 {
  width: 100%;
  text-align: left;
}
